page-home {
    @import url('https://fonts.googleapis.com/css?family=Lobster+Two');
    p {
        font-family: 'Lobster Two', cursive;
        font-size: x-large;
        color: orange;
    }
    ion-icon {
      font-size: xx-large;
    }
}
